[mysqld]
# Default from the docker image
skip-host-cache 
skip-name-resolve 
user = mysql
datadir = /var/lib/mysql 

# My additionals (eg for Confluence)
character-set-server            =       utf8
collation-server                =       utf8_bin
#default-character-set          =       utf8
default-storage-engine          =       INNODB
max_allowed_packet              =       32M

innodb				=	ON
innodb_log_file_size		= 	256M
!includedir /etc/mysql/conf.d/ 
